.form-box {
    background-color: #dce4f0;
    margin: 0 auto;
    display: flex;
    align-items: center;    
    padding: 30px;
    gap: 20px;
  }
  
  .input-boxes {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .form-label {
    font-size: 18px;
    font-weight: 700;
  }
  
  .input-title{ 
    height: 40px;
    width: 240px;
    border: none;
    border-radius: 12px;
    padding: 0 12px;
  }
  .input-body{ 
    height: 40px;
    width: 340px;
    border: none;
    border-radius: 12px;
    padding: 0 12px;
  }
  
  
  .add-button {
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: #0080ff;
    width: 140px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }