.list-container { 
    padding: 0 24px;
  }
  
  .list-wrap{
    display: flex;
    /*정렬된 요소들의 총 넓이가 부모 넓이보다 클때 이요소들을 다음줄에 정렬한다.*/ 
    flex-wrap: wrap; 
    /* gap은 내부의 children 요소들이 일정한 간격으로 떨어져 위치할 수 있도록 사용하는 속성 */
    gap: 12px;
  }